extends layout

block content
	include lib/header
	.sitecontent
		#newsPage.npagePage.Pagenews
			#banner
				div(style='background-image:url(/templets/cloud_23/images/news.jpg);')
			.content
				.header
					p.title 新闻
					p.subtitle news
				#category
					a.active(href='index.htm', tppabs='http://dede40.va666.com/a/xinwen/') 全部
					a(href='chanyexinwen/index.htm', tppabs='http://dede40.va666.com/a/xinwen/chanyexinwen/') 产业新闻
					a(href='gsnews/index.htm', tppabs='http://dede40.va666.com/a/xinwen/gsnews/') 公司新闻
				#newslist
					.wrapper
						#newsitem_0.wow.newstitem.left.newsl
							a.newscontent(target='_blank', href='chanyexinwen/18.html', tppabs='http://dede40.va666.com/a/xinwen/chanyexinwen/18.html')
								.news_wrapper
									.newsbody
										p.date
											span.md
												| 2016
												span -
											span.year 11-09
										p.title Hospital Vall d'Hebron Barcelona
										.separator
										p.description 响应式设计只是网站跨平台的一种网站解决方案，是兼容各种终端的一种折衷方案。下面介绍一下，为什么在很多情况下响应式设计是不值得的......
								.newsimg(style='background-image:url(/templets/cloud_23/images/146254152081.jpg)')
							a.details(href='chanyexinwen/18.html', tppabs='http://dede40.va666.com/a/xinwen/chanyexinwen/18.html', target='_blank')
								
								
						#newsitem_0.wow.newstitem.left.newsl
							a.newscontent(target='_blank', href='gsnews/32.html', tppabs='http://dede40.va666.com/a/xinwen/gsnews/32.html')
								.news_wrapper
									.newsbody
										p.date
											span.md
												| 2016
												span -
											span.year 11-09
										p.title 产品的规划（或者产品本身）
										.separator
										p.description
											| 随着现代科技的发展、知识社会的到来、创新形态的嬗变，设计也正由专业设计师的工作向更广泛的用户参与演变，以用户为中心的、用户参与的创新设计日益受到关注，用户参与的创
								.newsimg(style='background-image:url(/templets/cloud_23/images/1464851724897.jpg)')
							a.details(href='gsnews/32.html', tppabs='http://dede40.va666.com/a/xinwen/gsnews/32.html', target='_blank')
								
								
						#newsitem_0.wow.newstitem.left.newsl
							a.newscontent(target='_blank', href='gsnews/22.html', tppabs='http://dede40.va666.com/a/xinwen/gsnews/22.html')
								.news_wrapper
									.newsbody
										p.date
											span.md
												| 2016
												span -
											span.year 11-09
										p.title KTZ x New Era联名帽款即将来袭
										.separator
										p.description
											| 先是策划一个即将实施的项目，然后按照策划的要求进行构思、制定方案、实施操作、绘制图样、进行施工、检验样本、通过设计方案的验收等整个环节的工作。总而言之设计就是设想
								.newsimg(style='background-image:url(/templets/cloud_23/images/1464847613297.jpg)')
							a.details(href='gsnews/22.html', tppabs='http://dede40.va666.com/a/xinwen/gsnews/22.html', target='_blank')
								
								
						#newsitem_0.wow.newstitem.left.newsl
							a.newscontent(target='_blank', href='chanyexinwen/21.html', tppabs='http://dede40.va666.com/a/xinwen/chanyexinwen/21.html')
								.news_wrapper
									.newsbody
										p.date
											span.md
												| 2016
												span -
											span.year 11-09
										p.title My Photography
										.separator
										p.description
											| 人类通过劳动改造世界，创造文明，创造物质财富和精神财富，而最基础、最主要的创造活动是造物。设计便是造物活动进行预先的计划，可以把任何造物活动的计划技术和计划过程理
								.newsimg(style='background-image:url(/templets/cloud_23/images/1464851239449.jpg)')
							a.details(href='chanyexinwen/21.html', tppabs='http://dede40.va666.com/a/xinwen/chanyexinwen/21.html', target='_blank')
								
								
						#newsitem_0.wow.newstitem.left.newsl
							a.newscontent(target='_blank', href='chanyexinwen/20.html', tppabs='http://dede40.va666.com/a/xinwen/chanyexinwen/20.html')
								.news_wrapper
									.newsbody
										p.date
											span.md
												| 2016
												span -
											span.year 11-09
										p.title 企业版不仅支持PC桌面端，更完美支持手机触屏版
										.separator
										p.description
											| 网站打开慢的其中一个原因是图片文件过大，一个网站在打开时需要同时加载很多图片，如果网站中每张图片都很大，必定影响网站打开速度。造成图片文件较大的原因一般分为以下几
								.newsimg(style='background-image:url(/templets/cloud_23/images/1464847514418.jpg)')
							a.details(href='chanyexinwen/20.html', tppabs='http://dede40.va666.com/a/xinwen/chanyexinwen/20.html', target='_blank')
								
								
						#newsitem_0.wow.newstitem.left.newsl
							a.newscontent(target='_blank', href='chanyexinwen/19.html', tppabs='http://dede40.va666.com/a/xinwen/chanyexinwen/19.html')
								.news_wrapper
									.newsbody
										p.date
											span.md
												| 2016
												span -
											span.year 11-09
										p.title IVYBOI 2015春季新款发售
										.separator
										p.description
											| 随着现代科技的发展、知识社会的到来、创新形态的嬗变，设计也正由专业设计师的工作向更广泛的用户参与演变，以用户为中心的、用户参与的创新设计日益受到关注，用户参与的创
								.newsimg(style='background-image:url(/templets/cloud_23/images/1464847458475.jpg)')
							a.details(href='chanyexinwen/19.html', tppabs='http://dede40.va666.com/a/xinwen/chanyexinwen/19.html', target='_blank')
								
								
				.clear
				#pages
