extends layout

block content
	include lib/header
	.pcontent
		#mproject.npagePage.Pageanli
			.content#protop
				#plheader.header
					p.title
					p.subtitle
				ul#category
					li
						a.active(href='') 全部
					li
						a(href='') 建筑设计
					li
						a(href='') 产品设计
					li
						a(href='') 室内
				#projectlist.module-content
					.wrapper
						ul.content_list
							li.projectitem
								a(href='')
									.project_img
										img(src='/two/images/product/1464943103771.jpg', width='500', height='320')
									.project_info
										div
											p.title IVYBOI 2015春季新款发售
											p.subtitle 工业设计
								a.details(href='')
									| more
									i.fa.fa-angle-right
							li.projectitem
								a(href='')
									.project_img
										img(src='/two/images/product/1462474900460.jpg', width='500', height='320')
									.project_info
										div
											p.title Street Snap灰色初春的气息
											p.subtitle 创客云设计
								a.details(href='')
									| more
									i.fa.fa-angle-right
							li.projectitem
								a(href='')
									.project_img
										img(src='/two/images/product/1462466500644.jpg', width='500', height='320')
									.project_info
										div
											p.title AGE 80's系列发售中
											p.subtitle DIY链接文本
								a.details(href='')
									| more
									i.fa.fa-angle-right
							li.projectitem
								a(href='')
									.project_img
										img(src='/two/images/product/1464073643135.jpg',  width='500', height='320')
									.project_info
										div
											p.title LARGE ROBOT
											p.subtitle 创客云设计
								a.details(href='')
									| more
									i.fa.fa-angle-right
							li.projectitem
								a(href='')
									.project_img
										img(src='/two/images/product/1464924706398.jpg', tppabs='http://dede40.va666.com/templets/cloud_23/images/1464924706398.jpg', width='500', height='320')
									.project_info
										div
											p.title Welcome To Maker Cloud
											p.subtitle 工业设计
								a.details(href='')
									| more
									i.fa.fa-angle-right
							li.projectitem
								a(href='')
									.project_img
										img(src='/two/images/product/1462718776462.jpg', tppabs='http://dede40.va666.com/templets/cloud_23/images/1462718776462.jpg', width='500', height='320')
									.project_info
										div
											p.title 乔安娜kustra
											p.subtitle 创客云设计
								a.details(href='')
									| more
									i.fa.fa-angle-right
							li.projectitem
								a(href='')
									.project_img
										img(src='/two/images/product/146247207060.jpg', tppabs='http://dede40.va666.com/templets/cloud_23/images/146247207060.jpg', width='500', height='320')
									.project_info
										div
											p.title Oculus Bridge VR
											p.subtitle 工业设计
								a.details(href='')
									| more
									i.fa.fa-angle-right
				.clear
				#pages
