extends layout

block content
	include lib/header
	#sitecontent.teamc
		.npagePage.Pageservice
			#banner
				div(style='background-image:url(/templets/cloud_23/images/service.jpg);')
			.content
				.header
					p.title 服务
					p.subtitle Our Advantage
				#servicelist
					ul.wrap
						li.serviceitem
							a(href='')
								img(src='/two/images/service/1462516884287.png', width='320', height='120')
								div
									p.title Welcome To Maker Cloud
									p.description 产品设计，一个创造性的综合信息处理过程，通过多种元素如线条色彩等方式的组合把产品的形状以平面或立体的形式展现出来......
							a.details(href='')
								| more
								i.fa.fa-angle-right
						li.serviceitem
							a(href='')
								img(src='/two/images/service/1462517049476.png', width='320', height='120')
								div
									p.title Street Snap灰色初春的气息
									p.description 所谓亲密性就是把所有相关的东西放在一起，如果把多个具有相关性的东西放在一起......
							a.details(href='')
								| more
								i.fa.fa-angle-right
						li.serviceitem
							a(href='')
								img(src='/two/images/service/1462517028916.png', width='320', height='120')
								div
									p.title AGE 80's系列发售中
									p.description 我们用10年的建站经验，打造出适合中小企业的高端企业模板，精致的设计，人性化的后台......
							a.details(href='')
								| more
								i.fa.fa-angle-right
						li.serviceitem
							a(href='')
								img(src='/two/images/service/1462517062762.png', width='320', height='120')
								div
									p.title KTZ x New Era联名帽款即将来袭
									p.description 企业版不仅支持PC桌面端，更完美支持手机触屏版。产品为什么没有采用响应式设计......
							a.details(href='')
								| more
								i.fa.fa-angle-right
						li.serviceitem
							a(href='')
								img(src='/two/images/service/1462517085857.png', width='320', height='120')
								div
									p.title 高级灯光师Henry
									p.description 响应式设计只是网站跨平台的一种网站解决方案，是兼容各种终端的一种折衷方案。下面介绍一下......
							a.details(href='')
								| more
								i.fa.fa-angle-right
					.clear
				#pages
