extends layout

block content
	include lib/header
	#sitecontent.teamc
		.npagePage.Pageteam
			#banner
				div(style='background-image:url(/templets/cloud_23/images/team.jpg);')
			.content
				.header
					p.title 团队
					p.subtitle uemo Team
				#teamlist
					.wrap
						.teamitem
							a(href='')
								img(src='/two/images/team/1449602458557.jpg', width='320', height='320')
								.wrap
									div
										span.h
										span.v
							.teaminfo
								p.title
									a(href='') AGE 80's系列发售中
								p.subtitle 创客云设计
								p.description 创客云数字市场是一个主题模板/创意作品/数字交易平台，你可以出售最优秀的网页模板和平面设计作品！本站全部主题模板为100%正品模板，支持更新升级！
							a.details(href='')
								
						.teamitem
							a(href='')
								img(src='/two/images/team/1449602554347.jpg', width='320', height='320')
								.wrap
									div
										span.h
										span.v
							.teaminfo
								p.title
									a(href='') KTZ x New Era
								p.subtitle 工业设计
								p.description
									| station host computer desktop wallpaper cool Sibutramine 2014-2015 Chinese Web
									| Design Alliance design panel- one of the Photoshop creative books, a senior designer, and a senior
									| designer.
							a.details(href='')
								
						.teamitem
							a(href='')
								img(src='/two/images/team/1449643161990.jpg',width='320', height='320')
								.wrap
									div
										span.h
										span.v
							.teaminfo
								p.title
									a(href='') 乔安娜kustra
								p.subtitle 创客云设计
								p.description 多年来，我们一直专注于互联网整合营销传播服务，截止目前我们已经服务过300多个大型客户......
							a.details(href='')
								
					.clear
				#pages
