
#footer
    p
        | (©) 2016 由
        a(href='javascript:;') 创客云
        | 提供技术支持
#shares
    a#sshare
        i.fa.fa-share-alt
    a#sweibo(href='javascript:;')
        i.fa.fa-weibo
    a#sweixin(href='javascript:;')
        i.fa.fa-weixin
    a#gotop(href='javascript:;')
        i.fa.fa-angle-up
#fixed_weixin.fixed
    .fixed-container
        #qrcode
        p 扫描二维码分享到微信
#online_open
    i.fa.fa-comments-o
#online_lx
    #olx_head
        | 在线咨询
        i#online_close.fa.fa-times.fr
    ul#olx_qq
        li
            a(href='')
                i.fa.fa-qq
                | 8889999
    #olx_tel
        div
            i.fa.fa-phone
            | 联系电话
        p
            | 400-888-8866
            br
.hide
