#header
	.content
		a#logo(href='/')
			img(src='/two/images/home/logo.png', height='40')
		ul#nav
			li.navitem
				a.active(href='/') 首页
			li.navitem
				a(href='product') 产品
				ul.subnav
					li
						a(href='product') 建筑设计
					li
						a(href='product') 产品设计
					li
						a(href='product') 室内
			li.navitem
				a(href='news') 新闻
				ul.subnav
					li
						a(href='news') 产业新闻
					li
						a(href='news') 公司新闻
			li.navitem
				a(href='team') 团队
			li.navitem
				a(href='service') 服务
			li.navitem
				a(href='about') 关于
			li.navitem
				a(href='javasript:;') 购买模板
		.clear
	a#headSHBtn(href='javascript:;')
		i.fa.fa-bars
